/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 15px;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Priority Styles */
.priority-high {
  background-color: #ffcccc; /* Light red */
}

.priority-medium {
  background-color: #ffffcc; /* Light yellow */
}

.priority-low {
  background-color: #ccffcc; /* Light green */
}

button {
  margin: 0 5px;
}

#search-tasks,
#title,
#description,
#priority {
  margin: 10px;
}

div.title,
div.description,
div.priority {
  display: inline-block;
}

@media screen and (max-width: 600px) {
  div.title,
  div.description {
    display: block;
  }
}
